Repository render-oss/sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, biome-check, ruff-lint, ruff-format

go-fmt:
  name: go fmt
  entry: bash -c 'cd go && go fmt ./...'
  language: system
  pass_filenames: false

biome-check:
  name: biome check
  entry: bash -c 'cd typescript && npx biome check --no-errors-on-unmatched --files-ignore-unknown=true'
  language: system
  pass_filenames: false

ruff-lint:
  name: ruff lint
  entry: bash -c 'cd python && poetry run ruff check .'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format check
  entry: bash -c 'cd python && poetry run ruff format --check .'
  language: system
  pass_filenames: false

chore(readme): add Bun install command (#207)
  README.md
Due: none

fix(typescript): use `#` private fields in `TaskRunResult` (#205)
  typescript/src/workflows/client/task-run-result.test.ts
  typescript/src/workflows/client/task-run-result.ts
Due: biome-check

chore: regenerate schemas for sandboxes (#206)
  go/pkg/render/internal/client/client_gen.go
  go/pkg/render/internal/client/sandboxes/sandboxes_gen.go
  go/pkg/render/internal/client/types_gen.go
  python/render_sdk/public_api/api/sandboxes/__init__.py
  python/render_sdk/public_api/api/sandboxes/create_sandbox.py
  python/render_sdk/public_api/api/sandboxes/list_sandboxes.py
  python/render_sdk/public_api/api/sandboxes/retrieve_sandbox.py
  python/render_sdk/public_api/api/sandboxes/terminate_sandbox.py
  python/render_sdk/public_api/models/__init__.py
  python/render_sdk/public_api/models/create_sandbox_accept.py
  python/render_sdk/public_api/models/sandbox.py
  python/render_sdk/public_api/models/sandbox_env.py
  python/render_sdk/public_api/models/sandbox_error.py
  python/render_sdk/public_api/models/sandbox_network_policy.py
  python/render_sdk/public_api/models/sandbox_network_policy_default.py
  python/render_sdk/public_api/models/sandbox_network_policy_rule.py
  python/render_sdk/public_api/models/sandbox_network_policy_rule_action.py
  python/render_sdk/public_api/models/sandbox_plan.py
  python/render_sdk/public_api/models/sandbox_post.py
  python/render_sdk/public_api/models/sandbox_post_env.py
  python/render_sdk/public_api/models/sandbox_post_files.py
  python/render_sdk/public_api/models/sandbox_post_plan.py
  python/render_sdk/public_api/models/sandbox_post_tags.py
  python/render_sdk/public_api/models/sandbox_status.py
  python/render_sdk/public_api/models/sandbox_tags.py
  python/render_sdk/public_api/models/sandbox_with_cursor.py
  typescript/src/generated/schema.ts
Due: go-fmt

python: release v0.6.1 (#208)
  python/CHANGELOG.md
  python/README.md
  python/pyproject.toml
  python/render_sdk/__init__.py
  python/uv.lock
Due: ruff-lint, ruff-format

typescript: release v0.5.1 (#209)
  typescript/CHANGELOG.md
  typescript/README.md
  typescript/package-lock.json
  typescript/package.json
Due: biome-check

chore(typescript): add package metadata and fix repo links (#212)
  typescript/README.md
  typescript/package.json
Due: biome-check

chore(readme): fix typo in Python quick start (#219)
  README.md
Due: none

[KEYS-963] Create basic TypeScript Key Value client (#220)
  typescript/package-lock.json
  typescript/package.json
  typescript/src/experimental/experimental.ts
  typescript/src/experimental/keyValue/api.test.ts
  typescript/src/experimental/keyValue/api.ts
  typescript/src/experimental/keyValue/index.ts
  typescript/src/experimental/keyValue/provider.test.ts
  typescript/src/experimental/keyValue/provider.ts
  typescript/src/experimental/keyValue/types.test.ts
  typescript/src/experimental/keyValue/types.ts
  typescript/src/experimental/keyValue/utils.ts
Due: biome-check

[KEYS-965] Implement automatic provisioning for Key Value SDK (#221)
  typescript/src/experimental/keyValue/api.test.ts
  typescript/src/experimental/keyValue/api.ts
  typescript/src/experimental/keyValue/provider.test.ts
  typescript/src/experimental/keyValue/provider.ts
  typescript/src/experimental/keyValue/types.ts
Due: biome-check

fix(typescript): preserve JSDoc comments (#224)
  typescript/tsconfig.json
Due: biome-check

[KEYS-966] Implement automatic service configuration sync (#222)
  typescript/src/experimental/keyValue/api.test.ts
  typescript/src/experimental/keyValue/api.ts
  typescript/src/experimental/keyValue/compare.test.ts
  typescript/src/experimental/keyValue/compare.ts
  typescript/src/experimental/keyValue/provider.test.ts
  typescript/src/experimental/keyValue/provider.ts
  typescript/src/experimental/keyValue/types.test.ts
  typescript/src/experimental/keyValue/types.ts
Due: biome-check

Update regex to match Python implementation (#226)
  typescript/src/experimental/keyValue/provider.ts
Due: biome-check

[KEYS-967] Python implementation of Key Value SDK (#223)
  python/pyproject.toml
  python/render_sdk/experimental/experimental.py
  python/render_sdk/experimental/key_value/__init__.py
  python/render_sdk/experimental/key_value/api.py
  python/render_sdk/experimental/key_value/compare.py
  python/render_sdk/experimental/key_value/provider.py
  python/render_sdk/experimental/key_value/tests/__init__.py
  python/render_sdk/experimental/key_value/tests/test_api.py
  python/render_sdk/experimental/key_value/tests/test_compare.py
  python/render_sdk/experimental/key_value/tests/test_provider.py
  python/render_sdk/experimental/key_value/types.py
  python/render_sdk/experimental/key_value/utils.py
  python/uv.lock
Due: ruff-lint, ruff-format

Add sample tasks for new cluster bug bash (#230)
  internal-examples/README.md
  internal-examples/main.py
  internal-examples/requirements.txt
Due: none

Bump GHA pin for Node 24, set up dependabot and CODEOWNERS (#231)
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/checks.yaml
  .github/workflows/copybara-pr.yaml
  .github/workflows/copybara-push.yaml
  .github/workflows/python-ci.yml
  .github/workflows/typescript-ci.yml
  copy.bara.sky
Due: none

Bump GHA pin for Node 24, set up dependabot and CODEOWNERS (#231)
  .github/dependabot.yml
  .github/workflows/checks.yaml
  .github/workflows/copybara-pr.yaml
  .github/workflows/python-ci.yml
  .github/workflows/typescript-ci.yml
  copy.bara.sky
Due: none

test(typescript): expand SDK API test coverage (#118)
  typescript/src/workflows/types.test.ts
  typescript/test-types.ts
Due: biome-check

chore(typescript): upgrade vitest to 4.1.5 (#236)
  typescript/package-lock.json
  typescript/package.json
Due: biome-check

[WOR-1275] Lazy-load Python SDK to speed up worker cold start (#233)
  python/render_sdk/__init__.py
  python/render_sdk/client/__init__.py
  python/render_sdk/client/util.py
  python/render_sdk/workflows/tests/test_lazy_imports.py
Due: ruff-lint, ruff-format

chore(typescript): upgrade Biome to 2.4.15 (#237)
  typescript/biome.json
  typescript/package-lock.json
  typescript/package.json
Due: biome-check

chore(typescript): upgrade to TypeScript 6 (#235)
  typescript/.npmrc
  typescript/package-lock.json
  typescript/package.json
Due: biome-check

Implement rudimentary local dev experience for KV client creation (#234)
  python/README.md
  python/render_sdk/experimental/key_value/provider.py
  python/render_sdk/experimental/key_value/tests/test_provider.py
  python/render_sdk/experimental/key_value/utils.py
  typescript/README.md
  typescript/src/experimental/keyValue/provider.test.ts
  typescript/src/experimental/keyValue/provider.ts
  typescript/src/experimental/keyValue/utils.ts
Due: biome-check, ruff-lint, ruff-format

Path conditions:
  go-fmt: any of: ^go/.*\.go$
  biome-check: any of: ^typescript/.*\.(ts|tsx|js|jsx|json)$, but not: ^typescript/src/generated/
  ruff-lint: any of: ^python/.*\.py$, but not: ^python/(render_sdk/public_api/|render_sdk/workflows/callback_api/)
  ruff-format: any of: ^python/.*\.py$, but not: ^python/(render_sdk/public_api/|render_sdk/workflows/callback_api/)
