Repository render-oss/sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, biome-check, ruff-lint, ruff-format

.pre-commit-config.yaml:

fail_fast: false
exclude: '^$'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: check-json
      - id: check-toml

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.4.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd go && golangci-lint run'
        files: ^go/.*$
        pass_filenames: false

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: bash -c 'cd go && go fmt ./...'
        language: system
        files: ^go/.*\.go$
        pass_filenames: false

      - id: biome-check
        name: biome check
        entry: bash -c 'cd typescript && npx biome check --no-errors-on-unmatched --files-ignore-unknown=true'
        language: system
        files: ^typescript/.*\.(ts|tsx|js|jsx|json)$
        exclude: ^typescript/src/generated/
        pass_filenames: false

      - id: ruff-lint
        name: ruff lint
        entry: bash -c 'cd python && poetry run ruff check .'
        language: system
        files: ^python/.*\.py$
        exclude: ^python/(render_sdk/public_api/|render_sdk/workflows/callback_api/)
        pass_filenames: false

      - id: ruff-format
        name: ruff format check
        entry: bash -c 'cd python && poetry run ruff format --check .'
        language: system
        files: ^python/.*\.py$
        exclude: ^python/(render_sdk/public_api/|render_sdk/workflows/callback_api/)
        pass_filenames: false

feat(python)!: make Render client sync-first (#179)
  python/README.md
  python/example/client/async_main.py
  python/example/client/main.py
  python/render_sdk/__init__.py
  python/render_sdk/client/tests/test_render.py
  python/render_sdk/experimental/experimental.py
  python/render_sdk/experimental/experimental_sync.py
  python/render_sdk/experimental/object/tests/test_e2e.py
  python/render_sdk/render.py
  python/render_sdk/render_async.py
Due: ruff-lint, ruff-format

chore(python): migrate python SDK from Poetry to uv (#181)
  .github/workflows/python-ci.yml
  .pre-commit-config.yaml
  README.md
  internal-examples/poetry.lock
  internal-examples/pyproject.toml
  python/README.md
  python/example/client/async_main.py
  python/example/client/main.py
  python/poetry.lock
  python/pyproject.toml
  python/tox.ini
  python/uv.lock
Due: ruff-lint, ruff-format

chore(python): migrate python SDK from Poetry to uv (#181)
  .github/workflows/python-ci.yml
  .pre-commit-config.yaml
  README.md
  python/README.md
  python/example/client/async_main.py
  python/example/client/main.py
  python/poetry.lock
  python/pyproject.toml
  python/tox.ini
  python/uv.lock
Due: ruff-lint, ruff-format

fix(python)!: rename task-level `timeout` param to `timeout_seconds` (#182)
  python/render_sdk/workflows/app.py
  python/render_sdk/workflows/tests/test_app.py
Due: ruff-lint, ruff-format

python: release v0.5.0 (#183)
  python/CHANGELOG.md
  python/pyproject.toml
  python/render_sdk/__init__.py
  python/uv.lock
Due: ruff-lint, ruff-format

typescript: release v0.4.1 (#184)
  typescript/CHANGELOG.md
  typescript/package-lock.json
  typescript/package.json
Due: biome-check

[CAP-9097] fix(typescript): auto-calculate size for string inputs in put() (#186)
  typescript/src/experimental/object/client.test.ts
  typescript/src/experimental/object/client.ts
Due: biome-check

[CAP-9305] [CAP-9305] fix(typescript): replace "Unknown error" with typed errors including status codes (#185)
  typescript/src/experimental/object/api.ts
  typescript/src/experimental/object/client.test.ts
  typescript/src/experimental/object/client.ts
  typescript/src/experimental/object/errors.ts
Due: biome-check

feat(python): support paginated task runs endpoint and new run end status (#188)
  python/render_sdk/client/sse.py
  python/render_sdk/client/types.py
  python/render_sdk/client/workflows.py
  python/render_sdk/client/workflows_sync.py
  python/render_sdk/public_api/api/workflow_tasks_ea/list_task_runs.py
  python/render_sdk/public_api/models/__init__.py
  python/render_sdk/public_api/models/audit_log_event.py
  python/render_sdk/public_api/models/task_run_status.py
  python/render_sdk/public_api/models/task_run_with_cursor.py
Due: ruff-lint, ruff-format

feat(python): rename taskIdentifier to taskSlug (#187)
  python/example/client/async_main.py
  python/example/client/main.py
  python/render_sdk/client/__init__.py
  python/render_sdk/client/types.py
  python/render_sdk/client/workflows.py
  python/render_sdk/client/workflows_sync.py
  python/render_sdk/public_api/api/workflow_tasks_ea/list_task_runs.py
  python/render_sdk/public_api/api/workflow_tasks_ea/list_tasks.py
  python/render_sdk/public_api/models/run_task.py
Due: ruff-lint, ruff-format

feat(typescript): support paginated task runs endpoint and new run end status (#189)
  typescript/src/generated/schema.ts
  typescript/src/workflows/client/client.ts
  typescript/src/workflows/client/sse.ts
  typescript/src/workflows/client/types.ts
Due: biome-check

feat(typescript): rename taskIdentifier to taskSlug (#190)
  typescript/README.md
  typescript/src/generated/schema.ts
  typescript/src/workflows/client/client.test.ts
  typescript/src/workflows/client/client.ts
  typescript/src/workflows/client/sse.ts
  typescript/src/workflows/client/types.ts
Due: biome-check

python: release v0.6.0 (#191)
  python/CHANGELOG.md
  python/pyproject.toml
  python/render_sdk/__init__.py
  python/uv.lock
Due: ruff-lint, ruff-format

typescript: release v0.5.0 (#192)
  typescript/CHANGELOG.md
  typescript/package-lock.json
  typescript/package.json
Due: biome-check

Retry SDK on more transient failures (#193)
  python/pyproject.toml
  python/render_sdk/client/tests/test_util.py
  python/render_sdk/client/util.py
  python/render_sdk/workflows/client.py
  python/render_sdk/workflows/tests/test_executor.py
  python/uv.lock
  typescript/src/workflows/uds.test.ts
  typescript/src/workflows/uds.ts
Due: biome-check, ruff-lint, ruff-format

ci(typescript): add Node version matrix (20, 22, 24) (#197)
  .github/workflows/typescript-ci.yml
Due: none

ci(python): add 3.14 to test matrix (#198)
  .github/workflows/python-ci.yml
Due: none

chore(typescript): add `.npmrc` with supply-chain security guards (#195)
  typescript/.npmrc
Due: none

chore: regenerate schemas (#203)
  go/example/client/main.go
  go/pkg/render/internal/client/blueprints/blueprints_gen.go
  go/pkg/render/internal/client/client_gen.go
  go/pkg/render/internal/client/sandboxes/sandboxes_gen.go
  go/pkg/render/internal/client/storage/storage_gen.go
  go/pkg/render/internal/client/types_gen.go
  go/pkg/render/internal/client/workflows/workflows_gen.go
  go/pkg/render/types.go
  go/pkg/render/workflows.go
  python/render_sdk/client/tests/test_client.py
  python/render_sdk/client/tests/test_workflows_sync.py
  python/render_sdk/client/workflows.py
  python/render_sdk/client/workflows_sync.py
  python/render_sdk/experimental/object/client.py
  python/render_sdk/experimental/object/client_sync.py
  python/render_sdk/public_api/api/workflow_tasks_beta/__init__.py
  python/render_sdk/public_api/api/workflow_tasks_beta/cancel_task_run.py
  python/render_sdk/public_api/api/workflow_tasks_beta/create_task.py
  python/render_sdk/public_api/api/workflow_tasks_beta/get_task.py
  python/render_sdk/public_api/api/workflow_tasks_beta/get_task_run.py
  python/render_sdk/public_api/api/workflow_tasks_beta/list_task_runs.py
  python/render_sdk/public_api/api/workflow_tasks_beta/list_tasks.py
  python/render_sdk/public_api/api/workflow_tasks_beta/stream_task_runs_events.py
  python/render_sdk/public_api/api/workflows_beta/__init__.py
  python/render_sdk/public_api/api/workflows_beta/create_workflow.py
  python/render_sdk/public_api/api/workflows_beta/create_workflow_version.py
  python/render_sdk/public_api/api/workflows_beta/delete_workflow.py
  python/render_sdk/public_api/api/workflows_beta/get_workflow.py
  python/render_sdk/public_api/api/workflows_beta/get_workflow_version.py
  python/render_sdk/public_api/api/workflows_beta/list_workflow_versions.py
  python/render_sdk/public_api/api/workflows_beta/list_workflows.py
  python/render_sdk/public_api/api/workflows_beta/update_workflow.py
  python/render_sdk/public_api/models/task_attempt.py
  python/render_sdk/public_api/models/task_attempt_details.py
  typescript/src/generated/schema.ts
Due: go-fmt, ruff-lint, ruff-format

fix(python): handle non-JSON error responses in HTTP decorators (#200)
  python/render_sdk/client/tests/test_util.py
  python/render_sdk/client/tests/test_util_sync.py
  python/render_sdk/client/util.py
  python/render_sdk/client/util_sync.py
Due: ruff-lint, ruff-format

fix(python): coerce dict retry config to Retry instance, fixing possible registration crash (#199)
  python/render_sdk/workflows/task.py
  python/render_sdk/workflows/tests/test_end_to_end.py
  python/render_sdk/workflows/tests/test_registration.py
Due: ruff-lint, ruff-format
