Repository render-oss/sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, biome-check, ruff-lint, ruff-format

.pre-commit-config.yaml:

fail_fast: false
exclude: '^$'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: check-json
      - id: check-toml

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.4.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd go && golangci-lint run'
        files: ^go/.*$
        pass_filenames: false

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: bash -c 'cd go && go fmt ./...'
        language: system
        files: ^go/.*\.go$
        pass_filenames: false

      - id: biome-check
        name: biome check
        entry: bash -c 'cd typescript && npx biome check --no-errors-on-unmatched --files-ignore-unknown=true'
        language: system
        files: ^typescript/.*\.(ts|tsx|js|jsx|json)$
        exclude: ^typescript/src/generated/
        pass_filenames: false

      - id: ruff-lint
        name: ruff lint
        entry: bash -c 'cd python && poetry run ruff check .'
        language: system
        files: ^python/.*\.py$
        exclude: ^python/(render_sdk/public_api/|render_sdk/workflows/callback_api/)
        pass_filenames: false

      - id: ruff-format
        name: ruff format check
        entry: bash -c 'cd python && poetry run ruff format --check .'
        language: system
        files: ^python/.*\.py$
        exclude: ^python/(render_sdk/public_api/|render_sdk/workflows/callback_api/)
        pass_filenames: false

[SAN-463] feat(typescript): add sandbox snapshots client and error codes (#361)
  typescript/src/errors.test.ts
  typescript/src/errors.ts
  typescript/src/experimental/index.ts
  typescript/src/experimental/sandboxes/index.test.ts
  typescript/src/experimental/sandboxes/index.ts
  typescript/src/utils/http.ts
Due: biome-check

Release TypeScript SDK v1.1.0 (#365)
  typescript/CHANGELOG.md
  typescript/package-lock.json
  typescript/package.json
Due: biome-check

[SAN-462] feat(python): add sandbox snapshots client (#362)
  python-metapackage/render_sdk/client/tests/test_method_parity.pyi
  python-metapackage/render_sdk/client/tests/test_util.pyi
  python-metapackage/render_sdk/client/util.pyi
  python-metapackage/render_sdk/client/util_sync.pyi
  python-metapackage/render_sdk/experimental/sandbox/__init__.py
  python-metapackage/render_sdk/experimental/sandbox/__init__.pyi
  python-metapackage/render_sdk/experimental/sandbox/api.pyi
  python-metapackage/render_sdk/experimental/sandbox/api_sync.pyi
  python-metapackage/render_sdk/experimental/sandbox/client.pyi
  python-metapackage/render_sdk/experimental/sandbox/client_sync.pyi
  python-metapackage/render_sdk/experimental/sandbox/errors.pyi
  python-metapackage/render_sdk/experimental/sandbox/tests/test_client.pyi
  python-metapackage/render_sdk/experimental/sandbox/tests/test_snapshots.py
  python-metapackage/render_sdk/experimental/sandbox/tests/test_snapshots.pyi
  python-metapackage/render_sdk/experimental/sandbox/tests/test_types.pyi
  python-metapackage/render_sdk/experimental/sandbox/types.pyi
  python/render/client/errors.py
  python/render/client/tests/test_method_parity.py
  python/render/client/tests/test_util.py
  python/render/client/util.py
  python/render/client/util_sync.py
  python/render/experimental/sandbox/__init__.py
  python/render/experimental/sandbox/api.py
  python/render/experimental/sandbox/api_sync.py
  python/render/experimental/sandbox/client.py
  python/render/experimental/sandbox/client_sync.py
  python/render/experimental/sandbox/errors.py
  python/render/experimental/sandbox/tests/test_client.py
  python/render/experimental/sandbox/tests/test_snapshots.py
  python/render/experimental/sandbox/tests/test_types.py
  python/render/experimental/sandbox/types.py
  python/scripts/unasync.py
Due: ruff-lint, ruff-format

Release Python SDK v1.1.0 (#364)
  python-metapackage/CHANGELOG.md
  python-metapackage/pyproject.toml
  python-metapackage/tests/test_import_matrix.py
  python-metapackage/tests/test_metadata.py
  python-metapackage/uv.lock
  python/CHANGELOG.md
  python/pyproject.toml
  python/render/__init__.py
  python/uv.lock
Due: ruff-lint, ruff-format

chore(typescript): ignore `.tgz` files (#379)
  typescript/.gitignore
Due: none

fix(typescript): stop shipping e2e-helpers in the npm package (#377)
  typescript/tsconfig.build.json
Due: biome-check

fix(typescript): resolve npm audit js-yaml vulnerability (#376)
  typescript/package-lock.json
  typescript/package.json
Due: biome-check

chore(typescript): stop emitting declaration maps (#378)
  typescript/tsconfig.json
Due: biome-check

fix up (#385)
  internal-examples/python/main.py
Due: none

Fail PRs while the generated client is stale (#375)
  .github/workflows/copybara-push.yaml
  .github/workflows/generated-client-staleness.yml
  copy.bara.sky
Due: none

Fail PRs while the generated client is stale (#375)
  copy.bara.sky
Due: none

Add an internal example to make a network request (#384)
  internal-examples/python/main.py
  internal-examples/python/pyproject.toml
  internal-examples/python/uv.lock
Due: none

migrate to arc runners (#394)
  .github/workflows/python-ci.yml
  .github/workflows/typescript-ci.yml
Due: none

[WOR-1035] Expose run IDs on task contexts (#372)
  go/README.md
  go/pkg/internal/callbackapi/api_gen.go
  go/pkg/internal/callbackapi/generate.go
  go/pkg/internal/executor/executor.go
  go/pkg/internal/executor/executor_test.go
  go/pkg/internal/task/task.go
  go/pkg/internal/task/task_test.go
  go/pkg/tasks/task.go
  go/pkg/tasks/task_test.go
  internal-examples/python/main.py
  internal-examples/ts/main.ts
  python-metapackage/render_sdk/__init__.py
  python-metapackage/render_sdk/__init__.pyi
  python-metapackage/render_sdk/workflows/__init__.py
  python-metapackage/render_sdk/workflows/__init__.pyi
  python-metapackage/render_sdk/workflows/context.pyi
  python-metapackage/render_sdk/workflows/executor.pyi
  python-metapackage/render_sdk/workflows/tests/test_context.pyi
  python-metapackage/render_sdk/workflows/tests/test_end_to_end.pyi
  python-metapackage/tests/test_import_matrix.py
  python-metapackage/typing_tests/strict/reexports.py
  python/README.md
  python/render/__init__.py
  python/render/workflows/__init__.py
  python/render/workflows/_callback_models.py
  python/render/workflows/context.py
  python/render/workflows/executor.py
  python/render/workflows/runner.py
  python/render/workflows/tests/test_context.py
  python/render/workflows/tests/test_end_to_end.py
  python/typing_tests/run_inference.py
  typescript/README.md
  typescript/src/workflows/context.ts
  typescript/src/workflows/executor.test.ts
  typescript/src/workflows/executor.ts
  typescript/src/workflows/schema.ts
  typescript/src/workflows/task.test.ts
  typescript/src/workflows/types.test.ts
  typescript/src/workflows/types.ts
Due: go-fmt, biome-check, ruff-lint, ruff-format

[WOR-1035] Expose run IDs on task contexts (#372)
  go/README.md
  go/pkg/internal/callbackapi/api_gen.go
  go/pkg/internal/callbackapi/generate.go
  go/pkg/internal/executor/executor.go
  go/pkg/internal/executor/executor_test.go
  go/pkg/internal/task/task.go
  go/pkg/internal/task/task_test.go
  go/pkg/tasks/task.go
  go/pkg/tasks/task_test.go
  python-metapackage/render_sdk/__init__.py
  python-metapackage/render_sdk/__init__.pyi
  python-metapackage/render_sdk/workflows/__init__.py
  python-metapackage/render_sdk/workflows/__init__.pyi
  python-metapackage/render_sdk/workflows/context.pyi
  python-metapackage/render_sdk/workflows/executor.pyi
  python-metapackage/render_sdk/workflows/tests/test_context.pyi
  python-metapackage/render_sdk/workflows/tests/test_end_to_end.pyi
  python-metapackage/tests/test_import_matrix.py
  python-metapackage/typing_tests/strict/reexports.py
  python/README.md
  python/render/__init__.py
  python/render/workflows/__init__.py
  python/render/workflows/_callback_models.py
  python/render/workflows/context.py
  python/render/workflows/executor.py
  python/render/workflows/runner.py
  python/render/workflows/tests/test_context.py
  python/render/workflows/tests/test_end_to_end.py
  python/typing_tests/run_inference.py
  typescript/README.md
  typescript/src/workflows/context.ts
  typescript/src/workflows/executor.test.ts
  typescript/src/workflows/executor.ts
  typescript/src/workflows/schema.ts
  typescript/src/workflows/task.test.ts
  typescript/src/workflows/types.test.ts
  typescript/src/workflows/types.ts
Due: go-fmt, biome-check, ruff-lint, ruff-format

[SAN-504] Add snapshot names to the TypeScript SDK (#391)
  typescript/src/experimental/sandboxes/index.e2e.test.ts
  typescript/src/experimental/sandboxes/index.test.ts
  typescript/src/experimental/sandboxes/index.ts
Due: biome-check

[SAN-504] Add snapshot names to the Python SDK (#392)
  python-metapackage/render_sdk/experimental/sandbox/tests/test_e2e.pyi
  python-metapackage/render_sdk/experimental/sandbox/tests/test_snapshots.pyi
  python/render/experimental/sandbox/api.py
  python/render/experimental/sandbox/api_sync.py
  python/render/experimental/sandbox/client.py
  python/render/experimental/sandbox/client_sync.py
  python/render/experimental/sandbox/tests/test_e2e.py
  python/render/experimental/sandbox/tests/test_snapshots.py
  python/render/experimental/sandbox/tests/test_types.py
  python/render/experimental/sandbox/types.py
Due: ruff-lint, ruff-format

[WOR-1635] Accept an idempotency key when starting a task run (#388)
  go/pkg/render/workflows.go
  internal-examples/README.md
  internal-examples/python/client/idempotency.py
  internal-examples/ts/client/idempotency.ts
  internal-examples/ts/package.json
  python-metapackage/render_sdk/client/tests/test_client.pyi
  python-metapackage/render_sdk/client/tests/test_workflows_sync.pyi
  python/CHANGELOG.md
  python/README.md
  python/render/client/tests/test_client.py
  python/render/client/tests/test_workflows_sync.py
  python/render/client/workflows.py
  python/render/client/workflows_sync.py
  typescript/CHANGELOG.md
  typescript/README.md
  typescript/src/workflows/client/client.test.ts
  typescript/src/workflows/client/client.ts
  typescript/src/workflows/client/types.ts
Due: go-fmt, biome-check, ruff-lint, ruff-format

[WOR-1635] Accept an idempotency key when starting a task run (#388)
  go/pkg/render/workflows.go
  python-metapackage/render_sdk/client/tests/test_client.pyi
  python-metapackage/render_sdk/client/tests/test_workflows_sync.pyi
  python/CHANGELOG.md
  python/README.md
  python/render/client/tests/test_client.py
  python/render/client/tests/test_workflows_sync.py
  python/render/client/workflows.py
  python/render/client/workflows_sync.py
  typescript/CHANGELOG.md
  typescript/README.md
  typescript/src/workflows/client/client.test.ts
  typescript/src/workflows/client/client.ts
  typescript/src/workflows/client/types.ts
Due: go-fmt, biome-check, ruff-lint, ruff-format

Release Python SDK v1.2.0 (#401)
  python-metapackage/CHANGELOG.md
  python-metapackage/pyproject.toml
  python-metapackage/tests/test_import_matrix.py
  python-metapackage/tests/test_metadata.py
  python-metapackage/uv.lock
  python/CHANGELOG.md
  python/pyproject.toml
  python/render/__init__.py
  python/uv.lock
Due: ruff-lint, ruff-format

Release TypeScript SDK v1.2.0 (#402)
  typescript/CHANGELOG.md
  typescript/package-lock.json
  typescript/package.json
Due: biome-check

[SECOPS-694] Pin Go to 1.27.2 in CI (#412)
  .github/workflows/checks.yaml
Due: none
