Repository render-oss/sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, biome-check, ruff-lint, ruff-format

.pre-commit-config.yaml:

fail_fast: false
exclude: '^$'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: check-json
      - id: check-toml

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.4.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd go && golangci-lint run'
        files: ^go/.*$
        pass_filenames: false

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: bash -c 'cd go && go fmt ./...'
        language: system
        files: ^go/.*\.go$
        pass_filenames: false

      - id: biome-check
        name: biome check
        entry: bash -c 'cd typescript && npx biome check --no-errors-on-unmatched --files-ignore-unknown=true'
        language: system
        files: ^typescript/.*\.(ts|tsx|js|jsx|json)$
        exclude: ^typescript/src/generated/
        pass_filenames: false

      - id: ruff-lint
        name: ruff lint
        entry: bash -c 'cd python && poetry run ruff check .'
        language: system
        files: ^python/.*\.py$
        exclude: ^python/(render_sdk/public_api/|render_sdk/workflows/callback_api/)
        pass_filenames: false

      - id: ruff-format
        name: ruff format check
        entry: bash -c 'cd python && poetry run ruff format --check .'
        language: system
        files: ^python/.*\.py$
        exclude: ^python/(render_sdk/public_api/|render_sdk/workflows/callback_api/)
        pass_filenames: false

Release TypeScript SDK v0.7.0 (#341)
  typescript/CHANGELOG.md
  typescript/package-lock.json
  typescript/package.json
Due: biome-check

Release Python SDK v0.8.0 (#340)
  python/CHANGELOG.md
  python/pyproject.toml
  python/render_sdk/__init__.py
  python/uv.lock
Due: ruff-lint, ruff-format

python: Pass a TaskContext to tasks (#312)
  internal-examples/python/main.py
  internal-examples/python/not_registered.py
  python/CHANGELOG.md
  python/README.md
  python/example/client/async_main.py
  python/example/client/main.py
  python/example/task/main.py
  python/pyproject.toml
  python/render_sdk/__init__.py
  python/render_sdk/py.typed
  python/render_sdk/workflows/__init__.py
  python/render_sdk/workflows/app.py
  python/render_sdk/workflows/client.py
  python/render_sdk/workflows/context.py
  python/render_sdk/workflows/executor.py
  python/render_sdk/workflows/task.py
  python/render_sdk/workflows/tests/test_app.py
  python/render_sdk/workflows/tests/test_context.py
  python/render_sdk/workflows/tests/test_end_to_end.py
  python/render_sdk/workflows/tests/test_executor.py
  python/render_sdk/workflows/tests/test_registration.py
  python/tox.ini
  python/typing_tests/README.md
  python/typing_tests/client_decorators.py
  python/typing_tests/run_inference.py
Due: ruff-lint, ruff-format

python: Pass a TaskContext to tasks (#312)
  python/CHANGELOG.md
  python/README.md
  python/example/client/async_main.py
  python/example/client/main.py
  python/example/task/main.py
  python/pyproject.toml
  python/render_sdk/__init__.py
  python/render_sdk/py.typed
  python/render_sdk/workflows/__init__.py
  python/render_sdk/workflows/app.py
  python/render_sdk/workflows/client.py
  python/render_sdk/workflows/context.py
  python/render_sdk/workflows/executor.py
  python/render_sdk/workflows/task.py
  python/render_sdk/workflows/tests/test_app.py
  python/render_sdk/workflows/tests/test_context.py
  python/render_sdk/workflows/tests/test_end_to_end.py
  python/render_sdk/workflows/tests/test_executor.py
  python/render_sdk/workflows/tests/test_registration.py
  python/tox.ini
  python/typing_tests/README.md
  python/typing_tests/client_decorators.py
  python/typing_tests/run_inference.py
Due: ruff-lint, ruff-format

typescript: Pass a TaskContext to tasks (#311)
  internal-examples/ts/main.ts
  typescript/CHANGELOG.md
  typescript/README.md
  typescript/examples/client/main.ts
  typescript/examples/client/package-lock.json
  typescript/examples/task/main.ts
  typescript/examples/task/package-lock.json
  typescript/package-lock.json
  typescript/package.json
  typescript/src/workflows/context.test.ts
  typescript/src/workflows/context.ts
  typescript/src/workflows/executor.test.ts
  typescript/src/workflows/executor.ts
  typescript/src/workflows/index.ts
  typescript/src/workflows/registry.ts
  typescript/src/workflows/task.test.ts
  typescript/src/workflows/task.ts
  typescript/src/workflows/types.test.ts
  typescript/src/workflows/types.ts
Due: biome-check

typescript: Pass a TaskContext to tasks (#311)
  typescript/CHANGELOG.md
  typescript/README.md
  typescript/examples/client/main.ts
  typescript/examples/client/package-lock.json
  typescript/examples/task/main.ts
  typescript/examples/task/package-lock.json
  typescript/package-lock.json
  typescript/package.json
  typescript/src/workflows/context.test.ts
  typescript/src/workflows/context.ts
  typescript/src/workflows/executor.test.ts
  typescript/src/workflows/executor.ts
  typescript/src/workflows/index.ts
  typescript/src/workflows/registry.ts
  typescript/src/workflows/task.test.ts
  typescript/src/workflows/task.ts
  typescript/src/workflows/types.test.ts
  typescript/src/workflows/types.ts
Due: biome-check

ci: upgrade Go to 1.27 (#345)
  .github/workflows/checks.yaml
  go/Dockerfile
  go/go.mod
  go/pkg/internal/task/task.go
Due: go-fmt

doc: update to reflect workflow release (#351)
  README.md
Due: none

go: match user-agent format with python and typescript SDKs (#352)
  go/pkg/internal/version/version.go
Due: go-fmt

Regenerate REST clients for the new compute plan names (#356)
  go/pkg/render/internal/client/plans_gen.go
  go/pkg/render/internal/client/postgres/plans_gen.go
  go/pkg/render/internal/client/postgres/postgres_gen.go
  go/pkg/render/internal/client/types_gen.go
  python-metapackage/render_sdk/experimental/key_value/tests/test_types.py
  python-metapackage/render_sdk/experimental/key_value/tests/test_types.pyi
  python/render/experimental/key_value/tests/test_types.py
  python/render/experimental/key_value/types.py
  python/render/public_api/models/background_worker_details.py
  python/render/public_api/models/background_worker_details_patch.py
  python/render/public_api/models/background_worker_details_post.py
  python/render/public_api/models/cron_job_details.py
  python/render/public_api/models/cron_job_details_patch.py
  python/render/public_api/models/cron_job_details_post.py
  python/render/public_api/models/key_value_plan.py
  python/render/public_api/models/paid_plan.py
  python/render/public_api/models/plan.py
  python/render/public_api/models/postgres_plans.py
  python/render/public_api/models/preview_input.py
  python/render/public_api/models/private_service_details.py
  python/render/public_api/models/private_service_details_patch.py
  python/render/public_api/models/private_service_details_post.py
  python/render/public_api/models/redis_plan.py
  python/render/public_api/models/web_service_details.py
  python/render/public_api/models/web_service_details_patch.py
  python/render/public_api/models/web_service_details_post.py
  typescript/src/generated/schema.ts
Due: go-fmt, ruff-lint, ruff-format

Improve SDK README structure
  README.md
Due: none

[SAN-418] TypeScript SDK: list sandbox groups (#349)
  typescript/src/experimental/index.ts
  typescript/src/experimental/sandboxes/index.e2e.test.ts
  typescript/src/experimental/sandboxes/index.test.ts
  typescript/src/experimental/sandboxes/index.ts
Due: biome-check

[SAN-414] Python SDK: list sandbox groups (#350)
  python-metapackage/render_sdk/experimental/sandbox/__init__.py
  python-metapackage/render_sdk/experimental/sandbox/__init__.pyi
  python-metapackage/render_sdk/experimental/sandbox/api.pyi
  python-metapackage/render_sdk/experimental/sandbox/api_sync.pyi
  python-metapackage/render_sdk/experimental/sandbox/client.pyi
  python-metapackage/render_sdk/experimental/sandbox/client_sync.pyi
  python-metapackage/render_sdk/experimental/sandbox/tests/test_client.pyi
  python-metapackage/render_sdk/experimental/sandbox/tests/test_e2e.pyi
  python-metapackage/render_sdk/experimental/sandbox/tests/test_types.pyi
  python-metapackage/render_sdk/experimental/sandbox/types.pyi
  python/render/experimental/sandbox/__init__.py
  python/render/experimental/sandbox/api.py
  python/render/experimental/sandbox/api_sync.py
  python/render/experimental/sandbox/client.py
  python/render/experimental/sandbox/client_sync.py
  python/render/experimental/sandbox/tests/test_client.py
  python/render/experimental/sandbox/tests/test_e2e.py
  python/render/experimental/sandbox/tests/test_types.py
  python/render/experimental/sandbox/types.py
Due: ruff-lint, ruff-format

Send a single ownerId when listing sandbox groups (#360)
  python/render/experimental/sandbox/api.py
  python/render/experimental/sandbox/api_sync.py
  typescript/src/experimental/sandboxes/index.test.ts
  typescript/src/experimental/sandboxes/index.ts
Due: biome-check, ruff-lint, ruff-format

Add the workflow Blueprint resource type to the REST clients (#357)
  go/pkg/render/internal/client/blueprints/blueprints_gen.go
  python/render/public_api/models/resource_ref_type.py
  typescript/src/generated/schema.ts
Due: go-fmt, ruff-lint, ruff-format

typescript: upgrade biome and vitest (#369)
  typescript/.gitignore
  typescript/biome.json
  typescript/package-lock.json
  typescript/package.json
  typescript/vitest.config.e2e.mts
  typescript/vitest.config.mts
Due: biome-check

Regenerate TypeScript REST client from api master (#371)
  typescript/src/generated/schema.ts
Due: none

Add an internal release runbook (#363)
  RELEASING.md
  copy.bara.sky
Due: none

Add an internal release runbook (#363)
  copy.bara.sky
Due: none

Regenerate REST clients from latest OpenAPI schema (#374)
  go/pkg/render/internal/client/artifactsources/artifactsources_gen.go
  go/pkg/render/internal/client/blueprints/blueprints_gen.go
  go/pkg/render/internal/client/buildsources/buildsources_gen.go
  go/pkg/render/internal/client/client_gen.go
  go/pkg/render/internal/client/events/events_gen.go
  go/pkg/render/internal/client/postgres/postgres_gen.go
  go/pkg/render/internal/client/sandboxes/sandboxes_gen.go
  go/pkg/render/internal/client/types_gen.go
  go/pkg/render/internal/client/workflows/workflows_gen.go
  python/render/public_api/models/build_config.py
  python/render/public_api/models/build_config_update.py
  typescript/src/generated/schema.ts
Due: go-fmt, ruff-lint, ruff-format

[SAN-463] feat(typescript): add sandbox snapshots client and error codes (#361)
  typescript/src/errors.test.ts
  typescript/src/errors.ts
  typescript/src/experimental/index.ts
  typescript/src/experimental/sandboxes/index.test.ts
  typescript/src/experimental/sandboxes/index.ts
  typescript/src/utils/http.ts
Due: biome-check
