Repository render-oss/sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, biome-check, ruff-lint, ruff-format

go-fmt:
  name: go fmt
  entry: bash -c 'cd go && go fmt ./...'
  language: system
  pass_filenames: false

biome-check:
  name: biome check
  entry: bash -c 'cd typescript && npx biome check --no-errors-on-unmatched --files-ignore-unknown=true'
  language: system
  pass_filenames: false

ruff-lint:
  name: ruff lint
  entry: bash -c 'cd python && poetry run ruff check .'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format check
  entry: bash -c 'cd python && poetry run ruff format --check .'
  language: system
  pass_filenames: false

[CAP-9036] fix(typescript): add retry with exponential backoff to UDS requests (#159)
  typescript/src/workflows/uds.test.ts
  typescript/src/workflows/uds.ts
Due: biome-check

fix(python): remove auto_start to avoid atexit conflicts (#160)
  python/example/task/main.py
  python/render_sdk/__init__.py
  python/render_sdk/workflows/app.py
  python/render_sdk/workflows/cli.py
  python/render_sdk/workflows/tests/test_app.py
Due: ruff-lint, ruff-format

[CAP-8967] Accept RENDER_OWNER_ID and RENDER_REGION env vars for object storage (#161)
  python/README.md
  python/pyproject.toml
  python/render_sdk/client/client.py
  python/render_sdk/experimental/experimental.py
  python/render_sdk/experimental/object/client.py
  python/render_sdk/experimental/object/tests/test_client.py
  python/render_sdk/render.py
  typescript/README.md
  typescript/src/experimental/experimental.ts
  typescript/src/experimental/object/client.test.ts
  typescript/src/experimental/object/client.ts
  typescript/src/experimental/object/types.ts
  typescript/src/render.ts
  typescript/src/workflows/client/types.ts
Due: biome-check, ruff-lint, ruff-format

ci: upgrade actions to use Go 1.26 (#164)
  .github/workflows/checks.yaml
Due: none

chore(typescript): add Bun installation to README (#157)
  typescript/README.md
Due: none

[CAP-9168] Add E2E tests for object storage (Typescript + Python) (#165)
  .github/workflows/python-ci.yml
  .github/workflows/typescript-ci.yml
  python/pyproject.toml
  python/render_sdk/experimental/object/e2e_helpers.py
  python/render_sdk/experimental/object/tests/__init__.py
  python/render_sdk/experimental/object/tests/test_e2e.py
  python/tox.ini
  typescript/package.json
  typescript/src/experimental/object/client.e2e.test.ts
  typescript/src/experimental/object/e2e-helpers.ts
  typescript/vitest.config.e2e.ts
Due: biome-check, ruff-lint, ruff-format

feat(typescript): add startTask() that decouples SSE from task invocation (#162)
  typescript/README.md
  typescript/examples/client/main.ts
  typescript/src/workflows/client/client.test.ts
  typescript/src/workflows/client/client.ts
  typescript/src/workflows/client/index.ts
  typescript/src/workflows/client/task-run-result.test.ts
  typescript/src/workflows/client/task-run-result.ts
Due: biome-check

feat(typescript): add taskRunEvents() to stream run events from WorkflowsClient (#167)
  typescript/README.md
  typescript/examples/client/main.ts
  typescript/src/workflows/client/client.test.ts
  typescript/src/workflows/client/client.ts
  typescript/src/workflows/client/index.ts
  typescript/src/workflows/client/sse.ts
  typescript/src/workflows/client/task-run-result.test.ts
  typescript/src/workflows/client/task-run-result.ts
Due: biome-check

refactor(python)!: move stream_task_run_events from SSE client to workflows service (#166)
  python/README.md
  python/example/client/main.py
  python/render_sdk/client/client.py
  python/render_sdk/client/sse.py
  python/render_sdk/client/tests/test_client.py
  python/render_sdk/client/workflows.py
Due: ruff-lint, ruff-format

chore(python): update README and example code (#168)
  python/README.md
  python/example/client/main.py
  python/render_sdk/render.py
Due: ruff-lint, ruff-format

(fix)python: add cwd to sys.path in render-workflows CLI wrapper (#169)
  python/render_sdk/workflows/cli.py
Due: ruff-lint, ruff-format

chore(typescript): update README and example code (#170)
  typescript/README.md
  typescript/examples/task/main.ts
Due: biome-check

python: release v0.4.0 (#171)
  python/CHANGELOG.md
  python/pyproject.toml
  python/render_sdk/__init__.py
Due: ruff-lint, ruff-format

typescript: release v0.4.0 (#172)
  typescript/CHANGELOG.md
  typescript/package-lock.json
  typescript/package.json
Due: biome-check

feat(python): add start_task() with fire-and-forget support (#173)
  python/README.md
  python/example/client/main.py
  python/render_sdk/__init__.py
  python/render_sdk/client/__init__.py
  python/render_sdk/client/tests/test_client.py
  python/render_sdk/client/workflows.py
Due: ruff-lint, ruff-format

fix(python): treat CANCELED as a terminal task run status (#174)
  python/render_sdk/client/tests/test_client.py
  python/render_sdk/client/types.py
  python/render_sdk/client/workflows.py
Due: ruff-lint, ruff-format

Revert "feat(python): add start_task() with fire-and-forget support (#173)" (#175)
  python/README.md
  python/example/client/main.py
  python/render_sdk/__init__.py
  python/render_sdk/client/__init__.py
  python/render_sdk/client/tests/test_client.py
  python/render_sdk/client/workflows.py
Due: ruff-lint, ruff-format

feat(python)!: rename run_task to start_task, allow run_task to wrap both async steps (#176)
  python/README.md
  python/example/client/main.py
  python/render_sdk/__init__.py
  python/render_sdk/client/tests/test_client.py
  python/render_sdk/client/workflows.py
Due: ruff-lint, ruff-format

fix(typescript): treat CANCELED as a terminal task run status (#177)
  typescript/README.md
  typescript/examples/client/main.ts
  typescript/src/workflows/client/client.test.ts
  typescript/src/workflows/client/client.ts
  typescript/src/workflows/client/sse.ts
  typescript/src/workflows/client/types.ts
Due: biome-check

feat(python): add RenderSync synchronous API client (#178)
  python/example/client/main.py
  python/render_sdk/__init__.py
  python/render_sdk/client/__init__.py
  python/render_sdk/client/sse.py
  python/render_sdk/client/sse_sync.py
  python/render_sdk/client/tests/test_method_parity.py
  python/render_sdk/client/tests/test_render_sync.py
  python/render_sdk/client/tests/test_util_sync.py
  python/render_sdk/client/tests/test_workflows_sync.py
  python/render_sdk/client/util_sync.py
  python/render_sdk/client/workflows_sync.py
  python/render_sdk/experimental/__init__.py
  python/render_sdk/experimental/experimental_sync.py
  python/render_sdk/experimental/object/__init__.py
  python/render_sdk/experimental/object/api_sync.py
  python/render_sdk/experimental/object/client_sync.py
  python/render_sdk/render_sync.py
  python/scripts/unasync.py
Due: ruff-lint, ruff-format

Path conditions:
  go-fmt: any of: ^go/.*\.go$
  biome-check: any of: ^typescript/.*\.(ts|tsx|js|jsx|json)$, but not: ^typescript/src/generated/
  ruff-lint: any of: ^python/.*\.py$, but not: ^python/(render_sdk/public_api/|render_sdk/workflows/callback_api/)
  ruff-format: any of: ^python/.*\.py$, but not: ^python/(render_sdk/public_api/|render_sdk/workflows/callback_api/)
