Repository render-oss/sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, biome-check, ruff-lint, ruff-format

.pre-commit-config.yaml:

fail_fast: false
exclude: '^$'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: check-json
      - id: check-toml

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.4.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd go && golangci-lint run'
        files: ^go/.*$
        pass_filenames: false

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: bash -c 'cd go && go fmt ./...'
        language: system
        files: ^go/.*\.go$
        pass_filenames: false

      - id: biome-check
        name: biome check
        entry: bash -c 'cd typescript && npx biome check --no-errors-on-unmatched --files-ignore-unknown=true'
        language: system
        files: ^typescript/.*\.(ts|tsx|js|jsx|json)$
        exclude: ^typescript/src/generated/
        pass_filenames: false

      - id: ruff-lint
        name: ruff lint
        entry: bash -c 'cd python && poetry run ruff check .'
        language: system
        files: ^python/.*\.py$
        exclude: ^python/(render_sdk/public_api/|render_sdk/workflows/callback_api/)
        pass_filenames: false

      - id: ruff-format
        name: ruff format check
        entry: bash -c 'cd python && poetry run ruff format --check .'
        language: system
        files: ^python/.*\.py$
        exclude: ^python/(render_sdk/public_api/|render_sdk/workflows/callback_api/)
        pass_filenames: false

Revert "Update dependency black to v26 [SECURITY] (#280)" (#283)
  python/pyproject.toml
  python/uv.lock
Due: none

Remove VEL from CODEOWNERS (#289)
  .github/CODEOWNERS
Due: none

python: Switch formatting to Rufff (#286)
  python/pyproject.toml
  python/render_sdk/workflows/tests/test_lazy_imports.py
  python/tox.ini
  python/uv.lock
Due: ruff-lint, ruff-format

SAN-86: add experimental Python sandbox client (#275)
  python/render_sdk/experimental/experimental.py
  python/render_sdk/experimental/sandbox/__init__.py
  python/render_sdk/experimental/sandbox/api.py
  python/render_sdk/experimental/sandbox/client.py
  python/render_sdk/experimental/sandbox/errors.py
  python/render_sdk/experimental/sandbox/tests/__init__.py
  python/render_sdk/experimental/sandbox/tests/test_client.py
  python/render_sdk/experimental/sandbox/tests/test_types.py
  python/render_sdk/experimental/sandbox/types.py
Due: ruff-lint, ruff-format

ci: Report TS and Python checks as skipped when not run (#288)
  .github/workflows/python-ci.yml
  .github/workflows/typescript-ci.yml
Due: none

ci: Improve GitHub Actions interactions with branch protections (#296)
  .github/workflows/checks.yaml
  .github/workflows/python-ci.yml
  .github/workflows/typescript-ci.yml
Due: none

Idempotent subtask submission (#255)
  internal-examples/main.py
  internal-examples/not_registered.py
  python/render_sdk/workflows/_callback_models.py
  python/render_sdk/workflows/client.py
  python/render_sdk/workflows/tests/test_client.py
  typescript/src/workflows/schema.ts
  typescript/src/workflows/uds.test.ts
  typescript/src/workflows/uds.ts
Due: biome-check, ruff-lint, ruff-format

Idempotent subtask submission (#255)
  python/render_sdk/workflows/_callback_models.py
  python/render_sdk/workflows/client.py
  python/render_sdk/workflows/tests/test_client.py
  typescript/src/workflows/schema.ts
  typescript/src/workflows/uds.test.ts
  typescript/src/workflows/uds.ts
Due: biome-check, ruff-lint, ruff-format

commit .zed/settings.json to correctly setup biome for zed IDE (#307)
  .zed/settings.json
Due: none

Add workflow to comment SDK test instructions on PRs (#310)
  .github/workflows/pr-test-instructions.yml
  copy.bara.sky
Due: none

Add workflow to comment SDK test instructions on PRs (#310)
  copy.bara.sky
Due: none

Add sandbox exec streaming, sync client, and e2e test (#294)
  .github/workflows/python-ci.yml
  .github/workflows/typescript-ci.yml
  python/example/sandbox/__init__.py
  python/example/sandbox/main.py
  python/pyproject.toml
  python/render_sdk/client/tests/test_method_parity.py
  python/render_sdk/experimental/experimental_sync.py
  python/render_sdk/experimental/object/tests/test_e2e.py
  python/render_sdk/experimental/sandbox/api_sync.py
  python/render_sdk/experimental/sandbox/client_sync.py
  python/render_sdk/experimental/sandbox/tests/test_client.py
  python/render_sdk/experimental/sandbox/tests/test_e2e.py
  python/scripts/unasync.py
  python/tox.ini
Due: ruff-lint, ruff-format

Add env var support to sandbox create() (#290)
  go/pkg/render/internal/client/sandboxes/sandboxes_gen.go
  python/render_sdk/experimental/sandbox/api.py
  python/render_sdk/experimental/sandbox/api_sync.py
  python/render_sdk/experimental/sandbox/client.py
  python/render_sdk/experimental/sandbox/client_sync.py
  python/render_sdk/experimental/sandbox/tests/test_client.py
  python/render_sdk/public_api/models/sandbox_post.py
  python/render_sdk/public_api/models/sandbox_post_env.py
  typescript/src/generated/schema.ts
Due: go-fmt, ruff-lint, ruff-format

Point internal examples at the in-repo SDKs, add TypeScript port (#313)
  internal-examples/.gitignore
  internal-examples/README.md
  internal-examples/pyproject.toml
  internal-examples/python/.python-version
  internal-examples/python/main.py
  internal-examples/python/not_registered.py
  internal-examples/python/pyproject.toml
  internal-examples/python/uv.lock
  internal-examples/requirements.txt
  internal-examples/ts/main.ts
  internal-examples/ts/package-lock.json
  internal-examples/ts/package.json
  internal-examples/ts/tsconfig.json
Due: none

Add pull request template (copy of CLI template) (#315)
  .github/pull_request_template.md
Due: none

Add sandbox copy_to for uploading files and directories (#317)
  python/example/sandbox/main.py
  python/render_sdk/experimental/sandbox/_tar.py
  python/render_sdk/experimental/sandbox/api.py
  python/render_sdk/experimental/sandbox/api_sync.py
  python/render_sdk/experimental/sandbox/client.py
  python/render_sdk/experimental/sandbox/client_sync.py
  python/render_sdk/experimental/sandbox/tests/test_client.py
  python/render_sdk/experimental/sandbox/tests/test_e2e.py
  python/render_sdk/experimental/sandbox/tests/test_tar.py
  python/scripts/unasync.py
Due: ruff-lint, ruff-format

add sandbox copy_from to the python sdk (#318)
  python/render_sdk/experimental/sandbox/__init__.py
  python/render_sdk/experimental/sandbox/api.py
  python/render_sdk/experimental/sandbox/api_sync.py
  python/render_sdk/experimental/sandbox/client.py
  python/render_sdk/experimental/sandbox/client_sync.py
  python/render_sdk/experimental/sandbox/errors.py
  python/render_sdk/experimental/sandbox/files.py
  python/render_sdk/experimental/sandbox/tests/test_download.py
  python/render_sdk/experimental/sandbox/tests/test_e2e.py
  python/scripts/unasync.py
Due: ruff-lint, ruff-format

[SAN-272] Add experimental sandbox client (#262)
  typescript/src/experimental/experimental.ts
  typescript/src/experimental/index.ts
  typescript/src/experimental/object/client.e2e.test.ts
  typescript/src/experimental/sandboxes/index.e2e.test.ts
  typescript/src/experimental/sandboxes/index.test.ts
  typescript/src/experimental/sandboxes/index.ts
  typescript/vitest.config.e2e.ts
Due: biome-check

[SAN-415] Support multiple sandbox status filters (#337)
  python/render_sdk/experimental/sandbox/api.py
  python/render_sdk/experimental/sandbox/api_sync.py
  python/render_sdk/experimental/sandbox/client.py
  python/render_sdk/experimental/sandbox/client_sync.py
  python/render_sdk/experimental/sandbox/tests/test_client.py
  python/render_sdk/experimental/sandbox/tests/test_e2e.py
Due: ruff-lint, ruff-format

Regenerate TypeScript REST client from latest OpenAPI schema (#336)
  typescript/src/generated/schema.ts
Due: none

Regenerate Python REST client from latest OpenAPI schema (#335)
  python/render_sdk/public_api/api/blueprints/validate_blueprint.py
  python/render_sdk/public_api/api/dedicated_i_ps/list_dedicated_ips.py
  python/render_sdk/public_api/api/metrics/get_bandwidth_sources.py
  python/render_sdk/public_api/api/sandboxes/connect_sandbox_files.py
  python/render_sdk/public_api/api/sandboxes/connect_sandbox_run.py
  python/render_sdk/public_api/api/sandboxes/list_sandbox_files.py
  python/render_sdk/public_api/api/sandboxes/retrieve_sandbox_execution.py
  python/render_sdk/public_api/api/sandboxes/stream_sandbox_logs.py
  python/render_sdk/public_api/api/sandboxes/terminate_sandbox.py
  python/render_sdk/public_api/api/sandboxes/update_sandbox_exec.py
  python/render_sdk/public_api/api/services/retrieve_service_outbound_ips.py
  python/render_sdk/public_api/models/__init__.py
  python/render_sdk/public_api/models/artifact.py
  python/render_sdk/public_api/models/audit_log_event.py
  python/render_sdk/public_api/models/error_code.py
  python/render_sdk/public_api/models/execution.py
  python/render_sdk/public_api/models/execution_operation.py
  python/render_sdk/public_api/models/execution_type.py
  python/render_sdk/public_api/models/outbound_ips.py
  python/render_sdk/public_api/models/outbound_ips_type.py
  python/render_sdk/public_api/models/sandbox.py
  python/render_sdk/public_api/models/sandbox_connect_request.py
  python/render_sdk/public_api/models/sandbox_connect_response.py
  python/render_sdk/public_api/models/sandbox_exec_update_request.py
  python/render_sdk/public_api/models/sandbox_exec_update_response.py
  python/render_sdk/public_api/models/sandbox_group.py
  python/render_sdk/public_api/models/task_attempt.py
  python/render_sdk/public_api/models/task_attempt_details.py
  python/render_sdk/public_api/models/task_run.py
  python/render_sdk/public_api/models/task_run_details.py
Due: none

Send run command on sandbox exec connect for audit (Python) (#333)
  python/render_sdk/experimental/sandbox/api.py
  python/render_sdk/experimental/sandbox/api_sync.py
  python/render_sdk/experimental/sandbox/tests/test_client.py
Due: ruff-lint, ruff-format

Send run command on sandbox exec connect for audit (#334)
  typescript/src/experimental/sandboxes/index.test.ts
  typescript/src/experimental/sandboxes/index.ts
Due: biome-check
