Repository render-oss/sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, biome-check, ruff-lint, ruff-format

.pre-commit-config.yaml:

fail_fast: false
exclude: '^$'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: check-json
      - id: check-toml

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.4.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'cd go && golangci-lint run'
        files: ^go/.*$
        pass_filenames: false

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: bash -c 'cd go && go fmt ./...'
        language: system
        files: ^go/.*\.go$
        pass_filenames: false

      - id: biome-check
        name: biome check
        entry: bash -c 'cd typescript && npx biome check --no-errors-on-unmatched --files-ignore-unknown=true'
        language: system
        files: ^typescript/.*\.(ts|tsx|js|jsx|json)$
        exclude: ^typescript/src/generated/
        pass_filenames: false

      - id: ruff-lint
        name: ruff lint
        entry: bash -c 'cd python && poetry run ruff check .'
        language: system
        files: ^python/.*\.py$
        exclude: ^python/(render_sdk/public_api/|render_sdk/workflows/callback_api/)
        pass_filenames: false

      - id: ruff-format
        name: ruff format check
        entry: bash -c 'cd python && poetry run ruff format --check .'
        language: system
        files: ^python/.*\.py$
        exclude: ^python/(render_sdk/public_api/|render_sdk/workflows/callback_api/)
        pass_filenames: false

Implement rudimentary local dev experience for KV client creation (#234)
  python/README.md
  python/render_sdk/experimental/key_value/provider.py
  python/render_sdk/experimental/key_value/tests/test_provider.py
  python/render_sdk/experimental/key_value/utils.py
  typescript/README.md
  typescript/src/experimental/keyValue/provider.test.ts
  typescript/src/experimental/keyValue/provider.ts
  typescript/src/experimental/keyValue/utils.ts
Due: biome-check, ruff-lint, ruff-format

[WOR-1285] Hand-roll workflows callback API to slim worker import graph (#241)
  .pre-commit-config.yaml
  python/pyproject.toml
  python/render_sdk/workflows/_callback_models.py
  python/render_sdk/workflows/_uds_http.py
  python/render_sdk/workflows/callback_api/__init__.py
  python/render_sdk/workflows/callback_api/api/__init__.py
  python/render_sdk/workflows/callback_api/api/default/__init__.py
  python/render_sdk/workflows/callback_api/api/default/get_input.py
  python/render_sdk/workflows/callback_api/api/default/post_callback.py
  python/render_sdk/workflows/callback_api/api/default/post_get_subtask_result.py
  python/render_sdk/workflows/callback_api/api/default/post_register_tasks.py
  python/render_sdk/workflows/callback_api/api/default/post_run_subtask.py
  python/render_sdk/workflows/callback_api/client.py
  python/render_sdk/workflows/callback_api/errors.py
  python/render_sdk/workflows/callback_api/models/__init__.py
  python/render_sdk/workflows/callback_api/models/callback_request.py
  python/render_sdk/workflows/callback_api/models/input_response.py
  python/render_sdk/workflows/callback_api/models/retry_config.py
  python/render_sdk/workflows/callback_api/models/run_subtask_request.py
  python/render_sdk/workflows/callback_api/models/run_subtask_response.py
  python/render_sdk/workflows/callback_api/models/subtask_result_request.py
  python/render_sdk/workflows/callback_api/models/subtask_result_response.py
  python/render_sdk/workflows/callback_api/models/task.py
  python/render_sdk/workflows/callback_api/models/task_complete.py
  python/render_sdk/workflows/callback_api/models/task_error.py
  python/render_sdk/workflows/callback_api/models/task_options.py
  python/render_sdk/workflows/callback_api/models/task_parameter.py
  python/render_sdk/workflows/callback_api/models/tasks.py
  python/render_sdk/workflows/callback_api/py.typed
  python/render_sdk/workflows/callback_api/types.py
  python/render_sdk/workflows/client.py
  python/render_sdk/workflows/runner.py
  python/render_sdk/workflows/tests/test_end_to_end.py
  python/render_sdk/workflows/tests/test_lazy_imports.py
  python/render_sdk/workflows/tests/test_translate_errors.py
  python/render_sdk/workflows/tests/test_uds_http.py
  python/tox.ini
Due: ruff-lint, ruff-format

Update README docs with Key Value sections. (#246)
  python/README.md
  typescript/README.md
Due: none

chore(typescript): patch Vitest to 4.1.6 (#247)
  typescript/package-lock.json
  typescript/package.json
Due: biome-check

Don't error without token in dev mode (#204)
  python/render_sdk/client/client.py
  python/render_sdk/client/workflows.py
  python/render_sdk/client/workflows_sync.py
  python/render_sdk/experimental/key_value/api.py
  python/render_sdk/experimental/object/api.py
  python/render_sdk/experimental/object/api_sync.py
  python/render_sdk/experimental/object/client.py
  python/render_sdk/experimental/object/client_sync.py
  typescript/src/render.ts
  typescript/src/utils/create-api-client.ts
  typescript/src/utils/get-base-url.test.ts
  typescript/src/utils/get-base-url.ts
  typescript/src/utils/is-local-dev.test.ts
  typescript/src/utils/is-local-dev.ts
  typescript/src/workflows/client/client.ts
  typescript/src/workflows/client/create-client.ts
Due: biome-check, ruff-lint, ruff-format

Release Python SDK v0.7.0 (#251)
  python/CHANGELOG.md
  python/pyproject.toml
  python/render_sdk/__init__.py
  python/uv.lock
Due: ruff-lint, ruff-format

Release TypeScript SDK v0.6.0 (#252)
  typescript/CHANGELOG.md
  typescript/package-lock.json
  typescript/package.json
Due: biome-check

explicitly call app.start (#253)
  python/example/task/main.py
Due: ruff-lint, ruff-format

refactor taskRunEvents to rety SSE on error (#250)
  typescript/examples/client/run.ts
  typescript/src/utils/http.ts
  typescript/src/workflows/client/client.test.ts
  typescript/src/workflows/client/client.ts
Due: biome-check

fix workflows errors being stringified by ts sdk (#261)
  typescript/src/utils/http.ts
  typescript/src/workflows/client/client.ts
Due: biome-check

add workflow to publish canary versions to github (#260)
  .github/workflows/typescript-canary.yml
  copy.bara.sky
Due: none

add workflow to publish canary versions to github (#260)
  copy.bara.sky
Due: none

WOR-1279: void functions bug (#269)
  typescript/src/workflows/uds.ts
Due: biome-check

Add generated plan-enum value helpers (#263)
  go/pkg/render/internal/client/plans_gen.go
  go/pkg/render/internal/client/postgres/plans_gen.go
  go/pkg/render/internal/client/sandboxes/plans_gen.go
Due: go-fmt

fix(typescript): resolve npm audit vulnerabilities (#268)
  typescript/package-lock.json
Due: biome-check

remove typescript run.ts example (#272)
  typescript/examples/client/run.ts
Due: biome-check

chore(typescript): lower npm `min-release-age` to 2 days (#266)
  typescript/.npmrc
Due: none

chore(typescript): upgrade Biome to 2.5.4 (#267)
  typescript/biome.json
  typescript/package-lock.json
  typescript/package.json
  typescript/src/experimental/object/client.test.ts
  typescript/src/utils/is-local-dev.test.ts
Due: biome-check

chore(typescript): upgrade typescript to v7 (#273)
  typescript/package-lock.json
  typescript/package.json
Due: biome-check

chore(python: move openapi-python-client to a dev dependencies (#274)
  python/pyproject.toml
  python/uv.lock
Due: none

Revert "Update dependency black to v26 [SECURITY] (#280)" (#283)
  python/pyproject.toml
  python/uv.lock
Due: none
